<p>patient-info works! JOBS</p>
<div class="container mt-4">

  <!-- Encabezado -->
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h3 class="text-primary"><i class="bi bi-hospital"></i> Clínica San José</h3>
    <input type="text" class="form-control w-25" placeholder="Buscar paciente...">
  </div>

  <!-- Datos del paciente -->
  <div class="card shadow-sm mb-4">
    <div class="card-header bg-primary text-white">
      <i class="bi bi-person-circle"></i> Datos del Paciente
    </div>
    <div class="card-body">
      <div class="row mb-2">
        <div class="col-md-6"><strong>Nombre:</strong> <!-- {{ patient.name }} --></div>
        <div class="col-md-6"><strong>Edad:</strong> <!--{{ patient.age }} --> años</div>
      </div>
      <div class="row mb-2">
        <div class="col-md-6"><strong>Cédula:</strong> <!-- {{ patient.cedula }} --></div>
        <div class="col-md-6"><strong>Teléfono:</strong> <!-- {{ patient.phone }} --></div>
      </div>
      <div class="row">
        <div class="col-md-12"><strong>Dirección:</strong> <!-- {{ patient.address }} --></div>
      </div>
    </div>
  </div>

  <!-- Historias clínicas -->
  <div class="card shadow-sm mb-4">
    <div class="card-header bg-success text-white">
      <i class="bi bi-journal-medical"></i> Historias Clínicas
    </div>
    <div class="card-body">
      <table class="table table-hover table-striped">
        <thead class="table-light">
          <tr>
            <th>Fecha</th>
            <th>Motivo</th>
            <th>Diagnóstico</th>
            <th>Médico</th>
          </tr>
        </thead>
        <tbody>
            <tr>
          <!-- <tr *ngFor="let h of patient.histories" > --> <!--class="clickable-row">-->
            <td><!-- {{ h.date | date:'shortDate' }} --></td>
            <td><!-- {{ h.reason }} --></td>
            <td><!-- {{ h.diagnosis }} --></td>
            <td><!-- {{ h.doctor }} --></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Detalle de historia seleccionada -->
  <div> <!-- *ngIf="selectedHistory" class="card shadow-sm"> -->
    <div class="card-header bg-info text-white">
      <i class="bi bi-file-earmark-medical"></i> Detalle de la Historia
    </div>
    <div class="card-body">
      <p><strong>Fecha:</strong> <!-- {{ selectedHistory.date | date }} --></p>
      <p><strong>Motivo:</strong> <!-- {{ selectedHistory.reason }} --></p>
      <p><strong>Diagnóstico:</strong> <!-- {{ selectedHistory.diagnosis }} --></p>
      <p><strong>Tratamiento:</strong> <!-- {{ selectedHistory.treatment }} --></p>
      <p><strong>Médico:</strong> <!-- {{ selectedHistory.doctor }} --></p>
    </div>
  </div>

</div>
