<form [formGroup]="formularioRefraction" (ngSubmit)="enviarFormulario()">

    <div class="card-body p-3">               
        <div class="table-responsive mb-4">
            

            <table class="table table-hover align-middle text-center shadow-sm border border-slate-subtle">
                <thead class="table-slate">
                <tr>
                    <th style="width: 25%;"> Retinoscopia Dinámica </th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    <tr formGroupName="od">
                        <td class="fw-bold text-slate ojo-label">Ojo Derecho (OD)</td>
                        <td data-label="ESFERA">
                            <input type="text" class="form-control form-control-sm text-center"
                                    formControlName="ref_sph_cyl_ax_dym_od" placeholder="ESF / CIL / EJE">
                        </td>
                    </tr>

                    <tr formGroupName="oi">
                        <td class="fw-bold text-slate ojo-label">Ojo Izquierdo (OI)</td>
                        <td data-label="ESFERA">
                            <input type="text" class="form-control form-control-sm text-center"
                                    formControlName="ref_sph_cyl_ax_dym_oi" placeholder="ESF / CIL / EJE">
                        </td>
                    </tr>
                
                </tbody>
            </table>

            <table class="table table-hover align-middle text-center shadow-sm border border-slate-subtle">
                <thead class="table-slate">
                <tr>
                    <th style="width: 25%;"> Retinoscopia Estática </th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    <tr formGroupName="od">
                        <td class="fw-bold text-slate ojo-label">Ojo Derecho (OD)</td>
                        <td data-label="ESFERA">
                            <input type="text" class="form-control form-control-sm text-center"
                                    formControlName="ref_sph_cyl_ax_stat_od" placeholder="ESF / CIL / EJE">
                        </td>
                    </tr>

                    <tr formGroupName="oi">
                        <td class="fw-bold text-slate ojo-label">Ojo Izquierdo (OI)</td>
                        <td data-label="ESFERA">
                            <input type="text" class="form-control form-control-sm text-center"
                                    formControlName="ref_sph_cyl_ax_stat_oi" placeholder="ESF / CIL / EJE">
                        </td>
                    </tr>
                
                </tbody>
            </table>
        </div>
    </div>
</form>
